/* Floating window */

.slack-chat-floating-window {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 260px;
  background-color: #ffffff;
  border: 1px solid #7aa8c5;
}

.slack-chat-floating-window .slack-chat-window-header {
  position: relative;
  min-height: 20px;
  padding: 5px;
  background-color: #238dcf;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.slack-chat-floating-window .slack-chat-window-content {
  display: none;
  padding: 15px;
}

.slack-chat-floating-window .slack-chat-window-close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px
}

.slack-chat-floating-window .slack-chat-window-close:after {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}

/* Floating window: open state */

.slack-chat-floating-window.slack-chat-open .slack-chat-window-close {
  display: block;
}

.slack-chat-floating-window.slack-chat-open .slack-chat-window-content {
  display: block;
}

/* Chat box */

.slack-chat-chat .slack-chat-conversation {
  display: none;
}

.slack-chat-chat .slack-chat-messages {
  overflow: auto;
  height: 260px;
  margin-bottom: 20px;
}

.slack-chat-chat .slack-chat-message-form {
  position: relative;
  text-align: center;
}

.slack-chat-chat .slack-chat-message-form .form-item {
  float: left;
  width: 100%;
  padding-right: 100px;
  box-sizing: border-box;
}

.slack-chat-chat .slack-chat-message-form .slack-chat-message-field {
  width: 100%;
}

.slack-chat-chat .slack-chat-message-form .slack-chat-send-button {
  position: absolute;
  top: 1px;
  right: 0;
}

.slack-chat-chat .slack-chat-ended-message {
  display: none;
  color: #999999;
}

.slack-chat-chat .slack-chat-welcome {
  margin-bottom: 10px;
}

.slack-chat-chat .slack-chat-error {
  color: #a94442;
}

.slack-chat-chat .slack-chat-message-container {
  margin-bottom: 5px;
}

.slack-chat-chat .slack-chat-message-user {
  margin-right: 10px;
  font-weight: bold;
}

/* Chat box: ended state */

.slack-chat-chat.slack-chat-ended .slack-chat-message-form {
  display: none;
}

.slack-chat-chat.slack-chat-ended .slack-chat-ended-message {
  display: block;
}

/* Chat box: started state */

.slack-chat-chat.slack-chat-started .slack-chat-start-form {
  display: none;
}

.slack-chat-chat.slack-chat-started .slack-chat-conversation {
  display: block;
}

